body {
    background-color: rgb(248, 220, 220);
    margin: 0;
    padding: 1rem;
    font-family: sans-serif;
    background-image: url(/Sugar-and-spice-cosmetics/images/pinkbackground.gif);
    background-repeat:repeat;
   
}
.btn {
    background-color: rgba(252, 114, 137, 0.803);
}

.card-img-top{
    width:20rem;
    padding: 2%;
}
.card{
    display: inline-block;
    text-align: center;
    width: 20rem;
}
.btn:hover{
    background-color: pink;
}
nav {
    width: 100%;
    overflow:auto;
    background-color: rgb(241, 159, 173, 0.657);
    height: 5rem;
}
nav a:hover {
    background-color:rgb(245, 228, 234);
    transition: 0.5s;
    text-transform:none;
    text-decoration:solid;
    font-family: sans-serif;
 
}
.ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;

}
li {
    float: left;
    font-family: sans-serif;
    margin-right: .7rem;
}


