h1 {
    text-align:left;
    margin: .95rem;
    font-family: sans-serif;
}
body {
    background-color: rgb(248, 220, 220);
    margin: 0;
    padding: 1rem;
    font-family: sans-serif;


}


nav a {
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: sans-serif
    
} 
nav a:hover {
    background-color:rgb(245, 228, 234);
    transition: 0.5s;
    text-transform:none;
    text-decoration:solid;
    font-family: sans-serif;
 
} 
input.form-control{
    width: 15rem;
    margin: 0.4rem;
    
}
.ul {
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;

}
li {
    float: left;
    font-family: sans-serif;
    margin-right: .7rem;
}
.registration-form{
    width: 300px;
    box-shadow: 0 0 3px ;
    background: transparent;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.registration-form input {
    margin-top: 1rem;
}

button.signup {
    background-color:  rgb(252, 114, 137);

}
button.submit {
    background-color: rgb(252, 114, 137);
}
